services:
  - type: web
    name: rocket-engine-backend
    env: docker
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_DATASOURCE_URL
        scope: run
        value: ${DATABASE_URL}
      - key: SPRING_DATASOURCE_USERNAME
        scope: run
        value: ${DB_USER}
      - key: SPRING_DATASOURCE_PASSWORD
        scope: run
        value: ${DB_PASSWORD}
      - key: SPRING_PROFILES_ACTIVE
        scope: run
        value: production
      - key: CORS_ALLOWED_ORIGINS
        scope: run
        value: https://viktor2588.github.io

  - type: pserv
    name: rocket-engine-postgres
    env: docker
    plan: free
    ipAllowList: []
    postgreSQL:
      version: 16
      plan: free
